body {
    background-color: #7BAD77;
    font-family: 'Archivo', sans-serif;
    color: #F4F8D1;
    text-align: center;
}

h2{
    font-size: 50px;
    margin-top: 200px;}

label {
    margin-left: 40px;
    margin-right: 5px;
    font-size: 20px;

}

form input {
    border-radius: 50px;
    width:300px ;
    height: 25px;
    border: none;
    background-color: #f4f8d1c5;
    margin-top: 25px;

}

input[type=submit] {
    width: 200px;   
    margin: 80px;
    font-family: 'Archivo', sans-serif;
    font-size:18px;
    color: #7BAD77;


}
